[defaults]
roles_path = remediation/tomcat/tomcat9:remediation/apache/apache24
inventory = inventories/lab/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
