[defaults]
roles_path = remediation/nginx/f5_nginx:remediation/tomcat/tomcat9:remediation/apache/apache24:remediation/apache/apache24/server:remediation/apache/apache24/site
inventory = inventories/lab/hosts.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
